@use '../../../scss/index' as *;

.sidebarWrapper {
    background: $purple-100;

    .navigation {
        display: flex;
        flex-direction: column;
        gap: $gap-lg;
    }
}

.link {
    border-radius: 8px;
    &:hover {
        background: transparent;
        color: $purple-main-500;
    }
}